## 此时，model是tpl1.jm.vm中传入的cfg

#foreach($table in $model.db.tables)

    #set($paramModel = {"table" : $table, "package":$model.package, "basePkg":$model.basePkg})
    #set($classNameParam = "${table.className}Param")
    #set($paramModel.className = $classNameParam)
    ##生成 xxxxParam.java，如果目标文件存在，替换
    $processor.generate("${model.tplPath}/ParamBase.vm", "${model.targetPath}/${table.className}Param.java", true, $paramModel)

#end